<div>
  <table border="1">
    <tbody>
      <tr>
        <td style="width: 42px;">
          {{data.id}}
        </td>
        <td style="width: 150px;">
          {{data.name}}
        </td>
        <td style="width: 200px;">
          {{data.description}}
        </td>
        <td style="width: 90px;">
          {{data.price}}zł
        </td>
        <td class='select' style="width: 100px;">
          <button class='button' (click)="onDodajClick()">DODAJ</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
